@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

.form {
  width: 93%;
  height: 351px;
  background: #ffffff;

  border: 1px solid #e9ecef;
  border-radius: 4px;

  margin: 24px 12px;
}

.fieldsetTitle {
  margin: 38px 24.5px 17.7px 24.5px;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #212529;
}

.inputTitle {
  padding-left: 16px;
  height: 52.8px;
  width: 90%;
  background: #f8f9fa;

  border: 2px solid #f8f9fa;
  border-radius: 8px;
  margin-top: 12.1px;
}

.exemple {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;

  color: #868e96;
  margin-top: 5px;
}

.fieldsetContainer {
  display: flex;
}

.fieldsetMoney {
  margin: 0 36px 19px 24.5px;
}

.inputMoney {
  height: 48px;
  width: 128px;
  background: #f8f9fa;
  padding-left: 16px;
  border: 2px solid #f8f9fa;
  border-radius: 8px;
  color: #868e96;
  margin-top: 9px;
}

.selectType {
  padding-left: 14px;
  height: 54px;
  width: 150px;
  background: #f8f9fa;
  margin-top: 9px;
  border: 2px solid #f8f9fa;
  border-radius: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;

  color: #343a40;
}

.formButton {
  width: 86%;
  height: 48px;
  background: #fd377e;

  border: 2px solid #fd377e;
  border-radius: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  color: #ffffff;
  margin: 0 0 38px 24.5px;
}

@media (min-width: 769px) {
  .form {
    width: 394px;
    height: 351px;
    margin: auto;
    margin-top: 50px;
  }
}
